.scroll-to-top {
    background-color: #cfe2ff;
    bottom: -50px;
    right: -50px;
    height: 50px;
    width: 50px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.scroll-to-top.show {
    bottom: 15px;
    right: 15px;
}

.scroll-to-top::before{
    content: '';
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent #084298 transparent;
}